
.card-divider {
  display: block;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
}

.tiny-field {
  width: 4rem;
}

.small-field {
  width: 10rem;
}

.short-field {
  width: 12rem;
}

.med-field {
  width: 18rem;
}

.close {
  line-height: .5;
}

.tight {
  line-height: .75;
}

.menu-text {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: .8 !important;
}

.top-bar-text {
  font-size: 1.1rem;
}

.top-bar {
  display: flex;
  align-items: baseline;
}

.prop-box-right {
  font-size: 1.3rem;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}

.prop-box {
  font-size: 1rem;
  text-align: left;
  width: 50%;
  padding: 4px;
  vertical-align: middle;
  margin-top: 5px;
}

.top-marg {
  margin-top: 1rem;
}

.gm-banner {
  color: white;
  background-color: #FF7340;
}

.matcher-pix {
  height: 300px;
  width: auto;
  margin-left: .5rem;
  margin-right: .5rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
}

.gen-red {
  background-color: #A1340C;
  color: white;
}

.gen-green {
  background-color: #00A181;
}

.gig-size {
  width: 600px;
  height: auto;
}

.card {
  max-width: 600px;
}

.black-back {
  background-color: black;
}

.card-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.map-box {
  height: 15rem;
  width: 26rem;
}

.icon-orange {
  color: #FF7340;
}

.flex-to-right {
  display: flex;
  justify-content: flex-end;
}

.flex-to-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gig-form {
  padding-left: 10px !important;
  padding-top: 15px !important;
  width: 350px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a096;
  border-radius: 15px
}
